//$bgc: #CCCC99;
$wrapColor: #fff;
//$navColor: #99CC99;
//$menuColor: #FFFFCC; 
//$sideMenu: #9999CC;

$color1: rgb(239, 71, 111);
$menuColor: rgb(255, 209, 102);
$sideMenu: darken(rgb(6, 214, 160), 20%);
$navColor: rgb(17, 138, 178);

$bgc: rgb(7, 59, 76);