#vcDiv {
	margin: 0px 0px;
	width: 800px;
	height: 546px;
	background-color: #0AB549;
}

#vcHi{
	text-align: center;
	color:yellow;
	font-style: italic;
}

#vcClick{
	font-weight:bold;
	margin-top:50px;
	text-align: center;
	cursor:pointer;
}
