@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&subset=latin-ext");
p {
  font-weight: 200;
  font-size: 1em;
  line-height: 1.3em; }

#grid {
  display: grid;
  align-content: start;
  justify-content: space-between; }

@media all and (min-width: 800px) {
  #grid {
    grid-template-columns: 20% 10% 20% 20% 30%;
    grid-template-areas: "naw naw naw  qualities    me" "spraak spraak  timeline timeline timeline" "os  os timeline timeline timeline" " vervoer  vervoer timeline timeline timeline" "hobbies  hobbies timeline timeline timeline" "programming programming timeline timeline timeline" "software software  timeline timeline timeline" ". . timeline timeline timeline"; }

  #me {
    vertical-align: middle; }
    #me img {
      float: right;
      vertical-align: middle; } }
@media all and (min-width: 550px) and (max-width: 800px) {
  #grid {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "naw naw naw me" "qualities qualities . os" "hobbies hobbies hobbies vervoer" "spraak spraak spraak spraak" "programming programming programming programming" "software software software software" "timeline timeline timeline timeline"; }

  #me {
    vertical-align: middle; }
    #me img {
      float: right;
      vertical-align: middle; } }
@media all and (max-width: 550px) {
  #grid {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "me me me me" "naw naw naw naw" "qualities qualities qualities qualities"  "spraak spraak spraak spraak" "hobbies hobbies hobbies hobbies" "os os os os"  "vervoer vervoer vervoer vervoer" "programming programming programming programming" "software software software software" "timeline timeline timeline timeline"; }

  #me {
    text-align: center; }
    #me img {
      vertical-align: middle; } }
#vervoer {
  grid-area: vervoer; }

#naw {
  grid-area: naw; }

#hobbies {
  grid-area: hobbies; }

#os {
  grid-area: os; }

#me {
  grid-area: me; }

#software {
  grid-area: software; }

#programming {
  grid-area: programming; }

#spraak {
  grid-area: spraak; }

#qualities {
  grid-area: qualities; }
  #qualities div {
    font-weight: 200;
    line-height: 1.3em; }

#timeline {
  grid-area: timeline; }
  #timeline p {
    font-weight: 200;
    line-height: 1em; }

.progressback, #photoshop, #illustrator, #indesign, #office, #html, #css, #php, #javascript {
  display: block;
  box-sizing: content-box;
  width: 100%;
  height: 20px;
  line-height: 22px;
  background-color: #eee;
  border-radius: 12px;
  border-style: hidden;
  border-color: #222;
  border-width: 2px; }

#photoshop, #illustrator, #indesign, #office, #html, #css, #php, #javascript {
  box-sizing: border-box;
  width: 90%;
  background: repeating-linear-gradient(45deg, #E8C27A, #E8C27A 20px, #e0ae4f 20px, #e0ae4f 40px);
  text-align: center;
  border-style: hidden; }

#illustrator {
  background: repeating-linear-gradient(45deg, #FFFC22, #FFFC22 20px, #eeeb00 20px, #eeeb00 40px);
  width: 60%; }

#indesign {
  background: repeating-linear-gradient(45deg, #55FF71, #55FF71 20px, #00ee27 20px, #00ee27 40px);
  width: 75%; }

#office {
  background: repeating-linear-gradient(45deg, #F662FF, #F662FF 20px, #f216ff 20px, #f216ff 40px);
  width: 85%; }

#html {
  background: repeating-linear-gradient(45deg, #FF7D27, #FF7D27 20px, #da5700 20px, #da5700 40px);
  width: 80%; }

#css {
  background: repeating-linear-gradient(45deg, #E8C507, #E8C507 20px, #9e8605 20px, #9e8605 40px);
  width: 70%; }

#php {
  background: repeating-linear-gradient(45deg, #70FF4D, #70FF4D 20px, #2de600 20px, #2de600 40px);
  width: 15%; }

#javascript {
  background: repeating-linear-gradient(45deg, #3AE8DC, #3AE8DC 20px, #16bfb4 20px, #16bfb4 40px);
  width: 60%; }

/*
Timeline                
*/
.container {
  width: 105%;
  padding: 10px 0;
  margin: 0px auto;
  position: relative;
  overflow: hidden; }
  .container h3 {
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 5px; }
  .container p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: .9em; }

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #ffd166;
  z-index: -1; }

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px); }

.work {
  float: right;
  margin-right: 4px; }
  .work h3, .work span {
    color: #0d7192; }

#amp {
  color: #ffd166; }

#timelineTitle {
  text-align: center; }

.education {
  float: left;
  direction: rtl;
  margin-left: 4px; }
  .education h3, .education span {
    color: #037356; }

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #ffd166;
  background: #118ab2;
  margin-top: 10px;
  z-index: 9; }

.timeline-content {
  margin-top: -18px;
  margin-left: 30px;
  margin-right: 30px; }

@media screen and (max-width: 1000px) {
  .container:before {
    left: 14px;
    width: 4px; }

  .timeline-block {
    width: 100%;
    margin-bottom: 30px; }

  .work {
    float: none;
    margin-right: 0px;
    margin-left: 2px; }

  .education {
    float: none;
    direction: ltr;
    margin-left: 2px; }

  #timelineTitle {
    text-align: left; } }
