html{
    font-family: arial;
}
body{
    margin: 0%;
    overflow: hidden;
}
.score {
    border-style: inset;
    border-width: 4px;
    border-radius: 5px;
    opacity: 0.9;
    padding: 10px;
    color: azure;
    position: fixed;
    left: 0;
    top: 0;
}


.start {
    
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 33%;
    top: 10%;
    height: 100px;
    width: 30%;
    color: azure;
    border-style: inset;
    border-width: 4px;
    border-radius: 10px;
}