html {
    font-family: arial;
}
body {
    margin:0;
    background-color: rgb(10, 22, 128);
}
canvas{
    margin-top: 5%;
    margin-left: 10%;
    cursor: none;
    background-color: rgb(49, 110, 138);
   
}
.score {
    border-color: blue;
    border-style: dashed;
    border-width: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    height: 18px;
    background-color: rgb(95, 93, 192);
    position: fixed;
    top: 5px;
    left: 10px;
}

.start {
    
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 33%;
    top: 20%;
    height: 150px;
    width: 30%;
    color: azure;
    border-style: inset;
    border-width: 4px;
    border-radius: 10px;
  background-color: #99a9
}
.hidden{
  visibility: hidden;
}